ESMFWebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	name="ESMFWebServices"
   targetNamespace="http://ucar.edu/axis2/ESMFWebServices"
   xmlns:tns="http://ucar.edu/axis2/ESMFWebServices"
   xmlns:apachesoap="http://xml.apache.org/xml-soap"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:types>
    <xsd:schema targetNamespace="http://ucar.edu/axis2/ESMFWebServices">

      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element name="item" 
                       type="xsd:string"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ArrayOfFloat">
        <xsd:sequence>
          <xsd:element name="item" 
                       type="xsd:float"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="StatusMsg">
        <xsd:sequence>
          <xsd:element name="code" type="xsd:string"/>
          <xsd:element name="msg" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <!-- ELEMENTS -->
      
      <xsd:element name="ListServersRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RegistrarHostName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ListServersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerList" type="tns:ArrayOfString"/>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="NewClientRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="NewClientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ClientId" type="xsd:string"/>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="InitComponentRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="InitComponentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="RunComponentRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="RunComponentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="FinalizeComponentRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="FinalizeComponentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="ComponentStatusRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="ComponentStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetFilesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetFilesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FileList" type="tns:ArrayOfString"/>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="GetOutputDataRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
            <xsd:element name="VariableName" type="xsd:string"/>
            <xsd:element name="Time" type="xsd:string"/>
            <xsd:element name="Lat" type="xsd:string"/>
            <xsd:element name="Lon" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="GetOutputDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Values" type="xsd:string"/>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="EndClientRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ServerName" type="xsd:string"/>
            <xsd:element name="ClientId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="EndClientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Status" type="tns:StatusMsg"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>

  
  <!-- MESSAGES -->

  <wsdl:message name="ListServersRequest">
    <wsdl:part name="input" element="tns:ListServersRequest"/>
  </wsdl:message>
  <wsdl:message name="ListServersResponse">
    <wsdl:part name="output" element="tns:ListServersResponse"/>
  </wsdl:message>

  <wsdl:message name="NewClientRequest">
    <wsdl:part name="input" element="tns:NewClientRequest"/>
  </wsdl:message>
  <wsdl:message name="NewClientResponse">
    <wsdl:part name="output" element="tns:NewClientResponse"/>
  </wsdl:message>

  <wsdl:message name="InitComponentRequest">
    <wsdl:part name="input" element="tns:InitComponentRequest"/>
  </wsdl:message>
  <wsdl:message name="InitComponentResponse">
    <wsdl:part name="output" element="tns:InitComponentResponse"/>
  </wsdl:message>

  <wsdl:message name="RunComponentRequest">
    <wsdl:part name="input" element="tns:RunComponentRequest"/>
  </wsdl:message>
  <wsdl:message name="RunComponentResponse">
    <wsdl:part name="output" element="tns:RunComponentResponse"/>
  </wsdl:message>

  <wsdl:message name="FinalizeComponentRequest">
    <wsdl:part name="input" element="tns:FinalizeComponentRequest"/>
  </wsdl:message>
  <wsdl:message name="FinalizeComponentResponse">
    <wsdl:part name="output" element="tns:FinalizeComponentResponse"/>
  </wsdl:message>

  <wsdl:message name="ComponentStatusRequest">
    <wsdl:part name="input" element="tns:ComponentStatusRequest"/>
  </wsdl:message>
  <wsdl:message name="ComponentStatusResponse">
    <wsdl:part name="output" element="tns:ComponentStatusResponse"/>
  </wsdl:message>

  <wsdl:message name="GetFilesRequest">
    <wsdl:part name="input" element="tns:GetFilesRequest"/>
  </wsdl:message>
  <wsdl:message name="GetFilesResponse">
    <wsdl:part name="output" element="tns:GetFilesResponse"/>
  </wsdl:message>

  <wsdl:message name="GetOutputDataRequest">
    <wsdl:part name="input" element="tns:GetOutputDataRequest"/>
  </wsdl:message>
  <wsdl:message name="GetOutputDataResponse">
    <wsdl:part name="output" element="tns:GetOutputDataResponse"/>
  </wsdl:message>

  <wsdl:message name="EndClientRequest">
    <wsdl:part name="input" element="tns:EndClientRequest"/>
  </wsdl:message>
  <wsdl:message name="EndClientResponse">
    <wsdl:part name="output" element="tns:EndClientResponse"/>
  </wsdl:message>


  <!-- Port type (operations) -->

  <wsdl:portType name="ESMFWebServices">

    <wsdl:operation name="ListServers">
      <wsdl:input message="tns:ListServersRequest"/>
      <wsdl:output message="tns:ListServersResponse"/>
    </wsdl:operation>

    <wsdl:operation name="NewClient">
      <wsdl:input message="tns:NewClientRequest"/>
      <wsdl:output message="tns:NewClientResponse"/>
    </wsdl:operation>

    <wsdl:operation name="InitComponent">
      <wsdl:input message="tns:InitComponentRequest"/>
      <wsdl:output message="tns:InitComponentResponse"/>
    </wsdl:operation>

    <wsdl:operation name="RunComponent">
      <wsdl:input message="tns:RunComponentRequest"/>
      <wsdl:output message="tns:RunComponentResponse"/>
    </wsdl:operation>

    <wsdl:operation name="FinalizeComponent">
      <wsdl:input message="tns:FinalizeComponentRequest"/>
      <wsdl:output message="tns:FinalizeComponentResponse"/>
    </wsdl:operation>

    <wsdl:operation name="ComponentStatus">
      <wsdl:input message="tns:ComponentStatusRequest"/>
      <wsdl:output message="tns:ComponentStatusResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetFiles">
      <wsdl:input message="tns:GetFilesRequest"/>
      <wsdl:output message="tns:GetFilesResponse"/>
    </wsdl:operation>

    <wsdl:operation name="GetOutputData">
      <wsdl:input message="tns:GetOutputDataRequest"/>
      <wsdl:output message="tns:GetOutputDataResponse"/>
    </wsdl:operation>

    <wsdl:operation name="EndClient">
      <wsdl:input message="tns:EndClientRequest"/>
      <wsdl:output message="tns:EndClientResponse"/>
    </wsdl:operation>

  </wsdl:portType>


  <!-- BINDING (bind operations) -->
  <wsdl:binding
     name="ESMFWebServicesSoapBinding"
     type="tns:ESMFWebServices">

    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="ListServers">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/ListServers"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="NewClient">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/NewClient"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="InitComponent">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/InitComponent"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RunComponent">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/RunComponent"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FinalizeComponent">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/FinalizeComponent"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ComponentStatus">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/ComponentStatus"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetFiles">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/GetFiles"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetOutputData">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/GetOutputData"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EndClient">
      <wsdlsoap:operation soapAction="http://ucar.edu/axis2/ESMFWebServices/EndClient"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>


  <!-- SERVICE -->

  <wsdl:service name="ESMFWebServicesService">
    <wsdl:port binding="tns:ESMFWebServicesSoapBinding"
               name="ESMFWebServices">
      <wsdlsoap:address location="http://27thstsoftware.com:8080/axis2/services/ESMFWebServicesService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
